/* GLOBAL */
html {
/* scroll-behavior: smooth; */
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: rgb(161, 154, 154);
}

a:hover {
  color: rgb(112, 112, 250);
}

h1 {
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
  max-width: 100%;
}

/* NAVIGATION */
.page_header {
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

nav a {
  color: rgb(233, 233, 233);
}

/* Hamburger menu for mobile view */
.hamburger {
  position: relative;
  display: none;
}

.hamburger-content {
  display: none;
  position: absolute;
  right: 100%;
  top: -225%;
  z-index: 1;
}

.hamburger:hover .hamburger-content {
  display: block;
}

.hamburger span {
  color: rgb(233, 233, 233);;
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(270deg);
}

.hamburger:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: inline-block;
  transform: rotate(180deg);
}

/* Desktop Nav */
.desktop_nav {
  display: flex;
  list-style: none;
}

.desktop_nav li:not(:last-child) {
  margin-right: 1em;
}

/* MAIN */
main {
  padding: 0 1em;
}

/* HERO SECTION */
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 300px;
  color: white;
  background-image: url(./images/hero_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
}

#hero h1 {
  font-size: 3rem;
  text-shadow: 3px 3px 20px black;
}

#hero h2 {
  text-shadow: 3px 3px 20px black;
}

#hero button {
  padding: 1em;
  border: solid 0.5px black;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
}

/* LOCATION SECTION */
#location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#location iframe {
  width: 90%;
}

/* GALLERY SECTION */
#gallery {
  text-align: center;
}

.gallery-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.gallery_images {
  display: block;
}

.gallery_images:not(:last-child) {
  max-width: 33%;
}

.gallery_images:last-child {
  margin-top: 1em;
}

/* GUITARS SECTION */
#guitars {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guitar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.guitar-grid figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TEAM SECTION */
#team {
  text-align: center;
  margin-bottom: 1em;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  justify-items: center;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 0.5em;
}

footer p {
  padding: 0.15em;
  margin: 0;
}

/* MEDIA QUERIES */
@media all and (max-width: 680px) {

  .hamburger {
    display: block;
  }

  .desktop_nav {
    display: none;
  }

  #hero h1 {
    font-size: 2rem;
  }

  #hero h2 {
    font-size: 1rem;
  }

  .gallery_images:not(:last-child) {
    max-width: 100%;
    margin-top: 1em;
  } 

  .guitar-grid {
    grid-template-columns: 1fr;
  }

  .team-grid {
    grid-template-columns: 1fr;
  }
}

@media all and (max-width: 380px) {
  #hero h1 {
    font-size: 1.5rem;
  }

  #hero h2 {
    font-size: .75rem;
  }
}